* {
    /*border: 1px solid blue;*/
    margin: 0;
    padding: 0;
}
.layout-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    width: 100vw;
    height: 100vh;
}

.sidebar-container {
    display: grid;
    grid-area: 1 / 1 / 3 / 2;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 2fr 1fr 1fr 6fr;
    background-color: green;
}

.sidebar-text {
    margin-left: 15px;
}

.sidebar-container
div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1rem;
    flex: auto;
}

.sidebar-container div:last-child {
    align-self: flex-start;
    padding-top: 15px;
}

.sidebar-container div:nth-child(7) {
    align-self: flex-start;
    padding-top: 15px;
}

.sidebar-container
img {
    max-width: 10%;
    min-width: 8%;
    height: auto;
}

.sidebar-container div:first-child img {
    max-width: 20%;
    min-width: 18%;
    height: auto;
}

.header-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-upper-grid {
    display: grid;
    grid-template-columns: 7fr 1fr 1fr 2fr;
}

.header-lower-grid {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr;
}

.main-content-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.project-articles {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: grid;
}

.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}